@mixin style-form {
    @include style-display();
    @include justify();
    color: $color-dark;
    padding-top:2% ;
    @media screen and (max-width: $mobile){
      width: 100% ;
    }
}
@mixin style-form-select {
  @include style-display();
  margin-bottom: 1%;
  margin-top:.5%;
  padding-left: 3%;
  @media screen and (max-width: $mobile){
    width: 10 0%;
    margin-top: 5%;
    padding-left: 0%;
  }
}
@mixin style-label {
  border-left: 3px solid $color1;
  padding: 2%;
  padding-left: 5%;
  margin-bottom: 3%;
}
@mixin style-select {
  @include style-display();
  border: 1px solid $color2;
  background: white;
  padding: 2%;
  border-radius: $border-radius;
  width: 100%;
  @media screen and (max-width: $mobile){
    padding: 3%;
  }
}
@mixin style-form-name {
  @include style-display();
  padding: 2%;
}
@mixin style-name {
  border: 1px solid $color2;
  border-radius: $border-radius;
  text-align: center;
  padding: 1.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  @media screen and (max-width: $mobile){
    padding: 3%;
  }
}
@mixin style-btn {
  width: 30%;
  font-size: .9rem;
  border-radius: $border-radius;
  padding: 3%;
}
@mixin style-display {
  display: flex;
  flex-direction: column;
}
@mixin justify {
  justify-content: center;
  align-items: center;
  
}

  